*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 400px;
    border: 1px solid black;
    margin: 0 auto;
    text-align: center;
    margin-top: 10%;
    background-color: white;
    border-radius: 20px;
    box-shadow: 10px 10px 10px gray;
}
.head h4{
    padding: 10px 0px;
    font-size: 30px;
}

.body{
    padding: 30px 0px;
}

.ans .button{
    width: 150px;
    height: 30px;
    background-color:skyblue;
    margin: 20px 0px 0px 20px;
    border-radius: 20px;
    outline: 0;
}

.button:hover{
    background-color: white;
    color: rgb(9, 100, 136);
}
.foot{
    padding:15px 0px;
    position: relative;
}
